.for-spacing{
    padding-top: 20px;
}

.section{
    width: 100%;
    color:black;
    position: relative;
    padding-top: 20px;
    padding-bottom: 30px;
}

.posture-section{
    background-color: #DFD3C3;
    
}

.drowsy-section{
    background-color: #D0B8A8;
}

.texttospeech-section{
    background-color: #DFD3C3;
}

.autocorrect-section{
    background-color: #D0B8A8;
}

.last{
    padding-bottom: 20px;
}

.section-img{
    padding-bottom: 20px;
}

.lastthree-img{
    height: 180px;
    width: 180px;
    padding-bottom: 20px;
}
